<nz-card class="service-card" [nzActions]="[actionEdit, actionRemove]">
  <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="titleTemplate" [nzDescription]="descriptionTemplate"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-flex nzVertical="true" nzAlign="center" nzJustify="center">
    <span class="title">{{ date | date: 'dd' }}</span>
    <span>{{ date | date: 'MMMM': 'pt-BR' }}</span>
  </nz-flex>
</ng-template>
<ng-template #titleTemplate>
  <span class="service-description">Descrição serviço</span>
</ng-template>
<ng-template #descriptionTemplate>
  <nz-flex nzVertical>
    <nz-flex nzAlign="center" nzGap="4px">
      <nz-icon nzType="user" nzTheme="outline"></nz-icon>
      <span>NOME CLIENTE</span>
    </nz-flex>
    <nz-flex nzAlign="center" nzGap="4px">
      <nz-icon nzType="clock-circle" nzTheme="outline"></nz-icon>
      <span>{{ date | date: 'HH:mm' }}</span>
    </nz-flex>
  </nz-flex>
</ng-template>
<ng-template #actionEdit>
  <nz-flex nzJustify="center" nzAlign="center" nzGap="3px">
    <nz-icon nzType="edit" />
    <span>Editar</span>
  </nz-flex>
</ng-template>
<ng-template #actionRemove>
  <nz-flex class="button-remove" nzJustify="center" nzAlign="center" nzGap="3px">
    <nz-icon class="icon-remove" nzType="close" />
    <span>Excluir</span>
  </nz-flex>
</ng-template>
