.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .registrations {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    nz-card {
        width: 500px;
    
        nz-icon {
            color: var(--primary-color);
            font-size: 20px;
        }
    }
}

