@use 'medias' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .registrations {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
    }
}
