@use 'medias' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .registrations {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
    }

    .container-schedule {
        display: flex;
        flex-direction: row;
        gap: 12px;

        .calendar {
            width: 700px;
        
            nz-icon {
                color: var(--primary-color);
                font-size: 20px;
            }
        }

        .next-services {
            width: 350px;
        }

        @include max-laptop {
            flex-direction: column;
            align-items: center;

            .calendar,
            .next-services {
                width: 100%;
                ::ng-deep(yz-service-card) {
                    width: 100%;
                }
            }
        }
    }
}
