nz-layout {
    height: 100vh;
    display: flex;
    overflow: hidden;

    nz-sider {
        height: 100vh;
        border-right: 1px solid var(--border-color);

        ul {
            border-right: none;
        }
    }

    nz-header {
        padding: 0;
        border-bottom: 1px solid var(--border-color);

        .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
          }

        .trigger:hover {
            color: var(--primary-color);
        }
    }

    nz-content {
        padding: 20px;
    }
}