nz-layout {
    height: 100vh;
    display: flex;

    nz-sider {
        height: 100vh;

        .logo {
            display: flex;
            height: 63px;
        }
    }

    nz-header {
        padding: 0;

        .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
          }

        .trigger:hover {
            color: #1890ff;
        }
    }

    nz-content {
        padding: 20px;
    }
}