<nz-layout>
  <nz-header>
    <div>
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
    </div>
    <div class="company-avatar">
      <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="250px" nzTheme="dark" [nzBreakpoint]="'md'" [(nzCollapsed)]="isCollapsed">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item routerLink="/home" nzMatchRouter>
          <nz-icon nzType="home" />
          <span>Home</span>
        </li>
        <li nz-submenu nzTitle="Agenda" nzIcon="calendar">
          <ul>
            <li nz-menu-item routerLink="/schedule" nzMatchRouter nzMatchRouterExact>Minha Agenda</li>
            <li nz-menu-item routerLink="/schedule/create" nzMatchRouter nzMatchRouterExact>Agendar</li>
          </ul>
        </li>
        <li nz-menu-item routerLink="/products" nzMatchRouter>
          <nz-icon nzType="product" />
          <span>Produtos</span>
        </li>
        <li nz-menu-item routerLink="/customers" nzMatchRouter>
          <nz-icon nzType="user" />
          <span>Clientes</span>
        </li>
        <li nz-menu-item routerLink="/configurations" nzMatchRouter>
          <nz-icon nzType="setting" />
          <span>Configurações</span>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <router-outlet />
    </nz-content>
  </nz-layout>
</nz-layout>
